body {
    font-family: Times, serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0 0 0 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 100px;
    font-size: 80;
    text-align: center;
    color:darkmagenta
}

.question {
    margin-bottom: 50px 50px;
}

.answers {
    margin-bottom: 50px 50px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #218838
}

label {
    display: block;
    margin-bottom: 10px;
}